<h1>Good Morning!</h1>

<p>Hi there, my name is <span title="Turtleguyy, but you can call me Turtle">Zachary Nicoll, but you can call me Zach</span>. I’m currently over at <a href="http://intelity.com/" target="_blank" rel="noreferrer">Intelity</a> working on all sorts of cool things. I love what I do, but I also love life and everything that goes along with it. Yes, I’m a software developer, but more importantly, I’m a husband, a father, a diver, and a gamer. Perhaps even more paramount to the core of who I am, I’m also a strong believer in the oxford comma.</p>

<h2>My Sweet Skills</h2>

<p>Most days I’m a front end web developer. Like, real front end. Not that fake front end business that people have started calling “front end” just because you can do it with JavaScript (looking at you, Node). More specifically, CSS is my jam. Custom, hand-written, get-that-garbage-css-framework-outta-here, CSS. I suppose it’s worth mentioning that I can also do just about anything in JavaScript, and honestly, that’s probably where most of my time is spent on the day-to-day.</p>

<p>My roots, however, are in Haml, Sass, CoffeeScript, and Ruby on Rails. We call those the “Glory Days”. I fell in love with Rails early on and still use it whenever I get the chance. Compared to the chaos of almost everything else, Rails just feels right. I’ve still never had the chance to be part of a team of Rails devs, but it’s only a matter of time. And yeah, like everyone else who’s honest with themselves, I too miss CoffeeScript.</p>

<p>My only other main area of focus is iOS. Recently, I’ve spent more time doing iOS than anything else — pretty split between Objective-C and Swift. I certainly wouldn’t call myself an expert by any means, but I’m learning more about this platform every day.</p>

<p>Here’s a much more boring list of everything I can do/use to varying degrees, in <span title="alphabetical, because I’m not a monster">no particular</span> order: Bash, C#, CSS, Ember.js, Erb, Git, HTML, Illustrator, JavaScript, <span title="talk about glory days, huh?">jQuery</span>, Objective-C, Photoshop, Regex, SQL, and Swift. I’ve also used things like ActionScript, ColdFusion, Flex, and PHP in the past, but I’m quite certain I’ve forgotten almost everything I ever knew about them.</p>

<h2>How’d I get those sweet skills?</h2>

<p>I graduated from <a href="https://www.fullsail.edu/degrees/web-design-and-development-bachelor" target="_blank" rel="noreferrer">Full Sail University</a> in 2011 with a BS in Web Design & Development. They gave me a pretty solid foundation in full-stack web development, with the added <span title="ignorance is definitely bliss">curse</span> of understanding UX principles. Right before I graduated, I landed a job in Colorado as a front end developer and off I went into the world of Web.</p>

<p>I only had that first job for a few short months, because <a href="https://twitter.com/alyssanicoll" target="_blank" rel="noreferrer">my wife</a> decided she wanted to do what I did. So, I got a new job in Orlando as a web developer, and back to Florida (and Full Sail) we went. I filled many roles and positions there, but the only project I worked for the entirety of time there was a Rails app that I built from the ground up with one other person. Be sure to check out the {{link-to "projects" "projects"}} page for details.</p>

<h2>Postscript</h2>

<p>Lastly, and contrary to popular belief, no that “Good Morning!” heading won’t change based on the time of day. Sure, I could have done that, but who’s to say it’s your morning, afternoon, or evening? It’s {{moment-format now "YYYY"}} <span title="he said, in full awareness of the irony (and because he’s hilarious)">guys</span> — we can’t be assuming people’s schedules.</p>
