<h1>CSS For The Win</h1>

<div class="codepens">
  {{#each pens as |pen|}}
    <p class="codepen" data-height="510" data-theme-id="default" data-default-tab="result" data-user="Turtleguyy" data-slug-hash="{{pen}}"></p>
  {{/each}}
</div>

<p class="emphasized">Want more? Are there more? Who knows. But you can find out here: <a href="https://codepen.io/Turtleguyy/" rel="noopener" target="_blank">codepen.io/Turtleguyy</a></p>

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
