// Site colors
$call-to-action:  #eef5ff
$copy:            #123
$site-background: #fff
$title-indicator: #ccd

// Dark Mode overrides
$dark-call-to-action:  #222
$dark-copy:            #dde
$dark-site-background: #333
$dark-title-indicator: #667

// Specific colors (they think they're special)
$super-special: #0bc6d4
