section.content
  flex: 1 1 auto

.codepens
  margin: -20px
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  > .codepen
    padding: 20px
    height: 200px
    display: flex
    align-items: center
    justify-content: center
    border: 2px solid black

  > *
    margin: 20px
    flex-basis: 100%
    @media all and (min-width: 1200px)
      flex-basis: calc(50% - 40px)
    @media all and (min-width: 1700px)
      flex-basis: calc(33% - 40px)

.emphasized
  margin: 2em 0
  padding: 10px
  background: $super-light
  text-align: center

.subtext
  width: 100%
  display: block
  font-size: 12px
  text-transform: none
