*
  margin: 0
  padding: 0
  border: none
  box-sizing: border-box
  text-decoration: none

body
  border-top: 10px solid $cyan
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif
  line-height: 1.5

  &, a
    color: $dark

  > .ember-view
    padding: 20px 25px
    display: flex

    > *
      margin: 20px 25px

    @media all and (max-width: 700px)
      flex-direction: column

h1
  margin-bottom: 1em
  font-size: 36px

p
  margin: 1em 0

a
  transition: color 200ms ease
  &:hover, &.active
    color: $cyan

ul
  list-style: none
