*
  margin: 0
  padding: 0
  border: none
  box-sizing: border-box
  text-decoration: none

body
  font-family: avenir, "helvetica neue", helvetica, sans-serif

  &, a
    color: $dark

h1
  font-size: 36px
